[submodule "frontend"]
	path = frontend
	url = git@github.com:Djouldediallodalein/ProjetEducationPython-Frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:Djouldediallodalein/ProjetEducationPython-Backend.git
